$pageWidth: 1200px;
$contentWidth: 780px;
$mobile: $contentWidth + 20px;

$border: #ccc;
$lightBorder: #eee;

$normalText: #777;
$darkText: #666;
$lightText: #aaa;
$logoGrey: rgba(179,179,179,174);
$logoColor: rgba(135,172,203,113);

$link: #4eb0eb;
$emLink: #40d47e;
$lightLink: #aaa;

$textHighlight: #ffffe0;