---
title: Talks
description: Here are of the talks I've given at various conferences and meetups
---
<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'talks/securityweek2019.png' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2>Secure Software Development Lifecycle in the Mindsphere Environment</h2>
    <h3><a href="https://www.securityweek.at/industry/">TUGraz Security Days for the Industry (25 minutes) - 2019</a></h3>
    <p>MindSphere is an open cloud platform which stores operational data from production lines,
and makes it accessible via MindSphere applications like vehicle fleet management or 
predictive maintenance. This involves many services developed, maintained, and operated 
by various teams around the globe all acting as potential gateways for hackers to break into 
the system. 
This talk focuses on how we at Siemens smoothly integrated security initiatives into 
our diverse and distributed development teams, working on MindSphere core components and 
applications, as well as their development lifecycles. Furthermore, the talk focuses on common 
pitfalls and misconceptions when transitioning to a secure development methodology.
</p>
<p>
      <a href='/files/SSDLC_in_Mindsphere.pdf' class='Btn'>
        Slides (PDF)
      </a>
    </p>
  </section>
</article>

<article class='TimelineItem'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'talks/siemens.jpg' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2>Talk on Security Testing</h2>
    <h3>Munich (25 minutes) - 2019</h3>
    <p>Talk on security testing, unfortunately the content is internal/restricted and cannot be provided here.</p>
  </section>
</article>

<article class='TimelineItem TimelineItem--fadeIn'>
  <aside class='TimelineItem-pics'>
    <%= image_tag 'talks/letscluster.png' %>
  </aside>

  <section class='TimelineItem-details'>
    <h2>IT and OT Convergence: Upcoming Challenges for the Industry</h2>
    <h3><a href='https://letscluster.com/'>Lets Cluster Summit Graz</a> · (25 minutes) - 2019</h3>
    <p>Information Technology and Operational Technology were operated in two different silos, using independent networks following different
    objectives and being operated by different people.
       Teams working on IT and OT collaborated occasionally for selected projects, but in general cooperation between IT and OT was not seen as an
       opportunity. This is changing now: The industry strives for increased productivity, extended component lifetime and optimized maintenance
       cycles.</p>
     <p>These capabilities can only be provided by bridging the gap between IT/OT and is seen as a key success factor for the industry.
       This talk provides insights in opportunities as well as challenges emerging from the convergence of two very different worlds. Specifically
       when it comes to cyber security these two worlds have diverse objectives which need to be respected.</p>
    <p>
      <a href='/files/IT_and_OT_convergence.pdf' class='Btn'>
        Slides (PDF)
      </a>
    </p>
  </section>
</article>


